.a-game {
  max-width: unset;
  position: relative;
}
  .a-game-blanked::after {
    background-color: #000000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 999;
  }
