.a-game {
  display: block;
  max-width: unset;
  position: relative;
}
  .a-game-blanked::after {
    background-color: #000000;
    content: '';
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 0;
  }
  .a-game > * {
    max-width: unset;
  }
  .a-game > * + * {
    margin-top: unset;
  }

  /* Information */
  .a-game--info {
    outline: none !important;
    pointer-events: none;
  }
  .a-game--name {
    background-color: #000000;
    font-family: FiraCodeMedium, monospace;
    font-size: 2.5em;
    font-weight: 500;
    width: fit-content;
  }
  .a-game--description {
    background-color: #000000;
    font-family: FiraCodeRegular, monospace;
    font-size: 1.5em;
    width: fit-content;
  }
    .a-game--description-undiscovered {
      color: #888888;
    }
    .a-game--description-uncommon {
      color: #55AAFF;
    }
    .a-game--description-legendary {
      color: #FF55AA;
    }
  .a-game--description:empty {
    display: none;
  }
  .a-game--attributes {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    font-family: FiraCodeLight, monospace;
    font-weight: 300;
    list-style-type: none;
    margin-top: 2em;
  }
  .a-game--attributes:empty {
    display: none;
  }
  .a-game--attribute {
    background-color: #000000;
    margin-left: -0.25em;
    padding: 0 0.25em;
  }
  .a-game--attribute + .a-game--attribute {
    margin-top: 0.25em;
  }
    .a-game--attribute-rare {
      color: #FF6900;
      font-family: FiraCodeMedium, monospace;
      font-weight: 500;
    }
    .a-game--attribute-undiscovered {
      animation: a-game--attribute-undiscovered 1s ease 0s infinite alternate both;
    }
    .a-game--attribute-instrument {
      background-color: #FF6900;
      color: #000000;
      font-family: FiraCodeMedium, monospace;
      font-weight: 500;
    }
    .a-game--attribute-instrument.a-game--attribute-undiscovered {
      background-color: #FFFFFF;
      color: #000000;
    }

  /* Navigation */
  .a-game--nav {
    bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 2em;
    position: absolute;
    right: 0;
    z-index: 1;
  }
  .a-game--nav button {
    background-color: #000000;
    border: 0.125rem solid #FF0069;
    border-radius: 0.125rem;
    height: 2em;
    line-height: 2em;
    margin: 1px;
    position: relative;
    text-align: center;
    z-index: 1;
  }
  .a-game--nav button:focus,
  .a-game--nav button:hover {
    border-color: #FFFFFF;
    z-index: 2;
  }
  .a-game--nav button[aria-disabled="true"] {
    border-color: #333333;
    color: #333333;
    cursor: not-allowed;
    outline-color: #666666;
  }
  .a-game--nav button[aria-disabled="true"] * {
    cursor: not-allowed;
  }
  .a-game--up {
    flex: 0 1 50%;
  }
  .a-game--right {
    flex: 0 1 calc(50% - 2px);
  }
  .a-game--left {
    flex: 0 1 calc(50% - 2px);
  }
  .a-game--down {
    flex: 0 1 50%;
  }
  .a-game--menu {
    flex: 0 1 50%;
    font-family: FiraCodeLight, monospace;
    font-size: 0.75em;
    font-weight: 300;
    height: unset !important;
    margin-top: 2rem !important;
    opacity: 0.5;
  }
  .a-game--menu:active,
  .a-game--menu:focus,
  .a-game--menu:hover {
    opacity: 1;
  }

  .a-game--interact {
    flex: 1 1 100%;
    font-family: FiraCodeRegular, monospace;
    height: unset !important;
    margin-bottom: 2rem !important;
    opacity: 0.5;
    overflow: hidden;
    position: relative;
    padding-bottom: 0.25em !important;
  }
    .a-game--interact-instant {
      padding-bottom: 0 !important;
    }
    .a-game--interact-active,
    .a-game--interact:active,
    .a-game--interact:focus,
    .a-game--interact:hover {
      opacity: 1;
    }
  .a-game--interactProgress {
    background-color: #FFFFFF;
    bottom: 0;
    height: 0.25em;
    left: 0;
    position: absolute;
    width: 50%;
    z-index: 2;
  }
  .a-game--interactProgressBackground {
    background-color: #333333;
    bottom: 0;
    height: 0.25em;
    left: 0;
    position: absolute;
    width: 100%;
    z-index: 1;
  }
  .a-game--interact-active .a-game--interactProgressBackground {
    background-color: #FF0069;
  }
  .a-game--interact-instant .a-game--interactProgress,
  .a-game--interact[aria-disabled="true"] .a-game--interactProgress {
    display: none;
  }
  .a-game--interact-instant .a-game--interactProgressBackground,
  .a-game--interact[aria-disabled="true"] .a-game--interactProgressBackground {
    background-color: #111111;
  }

  /* Dialog */
  .a-game--dialog {
    align-items: center;
    backdrop-filter: blur(0.25rem);
    background-color: hsla(335deg 100% 5% / 85%);
    display: flex;
    height: 100%;
    justify-content: center;
    left: 0;
    opacity: 1;
    padding: 2rem;
    position: absolute;
    top: 0;
    transition: opacity 0.25s linear;
    width: 100%;
    z-index: 9;
  }
  .a-game--dialog[aria-hidden="true"] {
    backdrop-filter: blur(0);
    opacity: 0;
    pointer-events: none;
  }
  .a-game--dialogContent {
    background-color: rgba(0, 0, 0, 0.85);
    max-width: 65ch;
    padding: 2rem;
    width: 100%;
  }
  .a-game--dialogText {
    cursor: default !important;
    outline: none !important;
  }
  .a-game--dialogText * {
    cursor: default !important;
  }
  .a-game--dialogTitle {
    font-family: FiraCodeMedium, monospace;
    font-size: 1.5em;
    font-weight: 500;
    line-height: 1;
  }
  .a-game--dialogTitle:empty {
    display: none;
  }
  .a-game--dialogDescription {
    font-family: RobotoLight, sans-serif;
    font-weight: 300;
    margin-top: 0.75rem;
  }
  .a-game--dialogDescription em {
    font-family: RobotoRegularItalic, sans-serif;
    font-style: italic;
  }
  .a-game--dialogDescription kbd {
    background-color: #000000;
    border: 0.125rem solid #FF0069;
    border-radius: 0.125rem;
    padding: 0 0.25rem;
    white-space: nowrap;
  }
  .a-game--dialogDescription strong {
    font-family: RobotoBold, sans-serif;
    font-weight: 700;
  }
  .a-game--dialogDescription:empty {
    display: none;
  }
  .a-game--dialogActions {
    list-style-type: none;
    margin-top: 1.5rem;
  }
  .a-game--dialogActions li {
    display: inline-block;
    margin-right: 0.5rem;
    margin-top: 0.5rem;
  }

@keyframes a-game--attribute-undiscovered {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.333;
  }
}
