.a-splash {
  align-items: center;
  max-width: unset;
  overflow: hidden;
  text-align: center;
}
  .a-splash--details {
    bottom: 1.75rem;
    font-family: FiraCodeLight, monospace;
    font-size: 0.75em;
    font-weight: 300;
    left: 1.75rem;
    letter-spacing: 0;
    padding: 0.5rem 0.75rem;
    position: absolute;
    text-align: left;
  }
  .a-splash--instruction {
    animation: a-splash--instruction 1s linear 0s infinite alternate both;
    bottom: 1.75rem;
    line-height: 2;
    padding: 0.5em 0.75em;
    position: absolute;
    right: 1.75rem;
    text-transform: uppercase;
  }
  .a-splash--logo {
    filter: drop-shadow(0 0 1rem #000000);
    line-height: 0.75;
    opacity: 0;
    position: relative;
    transform: translateY(-2rem) scale(0.125);
    transition: all 1s ease;
    transition-property: opacity, transform;
  }
    .a-app--screen-active .a-splash--logo {
      opacity: 1;
      transform: translateY(-2rem);
      transition-duration: 4s;
    }
  .a-splash--logoLine {
    position: relative;
    text-transform: uppercase;
    z-index: 2;
  }
    .a-splash--logoLine span {
      font-size: 1.5em;
    }
    .a-splash--logoLine-1 {
      font-size: 2em;
    }
    .a-splash--logoLine-2 {
      font-size: 6em;
    }
    .a-splash--logoLine-3 {
      font-size: 8em;
    }
  .a-splash--logoSymbol {
    animation: a-splash--logoSymbol 4s ease-in-out 0s infinite alternate both;
    color: #FF0069;
    font-size: 24em;
    z-index: 1;
  }
  .a-splash--logoSymbol i {
    animation: a-splash--logoSymbol--i 3s ease 0s infinite alternate both;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }

@keyframes a-splash--instruction {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes a-splash--logoSymbol {
  0% {
    opacity: 0.5;
  }
  100% {
    opacity: 1.0;
  }
}

@keyframes a-splash--logoSymbol--i {
  0% {
    transform: translateX(-50%) translateY(calc(-50% + 0.25rem));
  }
  100% {
    transform: translateX(-50%) translateY(calc(-50% - 0.25rem));
  }
}

@media (prefers-reduced-motion: reduce) {
  .a-splash--logo {
    transform: translateY(-2rem) !important;
  }

  .a-splash--logoSymbol {
    animation: none;
    opacity: 0.75;
  }

  .a-splash--logoSymbol i {
    animation: none;
  }
}
