:root {
  --background-color: #180009;
  background-color: var(--background-color);
  color: #FFFFFF;
  font-family: RobotoRegular, sans-serif;
  color-scheme: var(--color-scheme);
  font-size: 20px;
  line-height: 1.5;
  user-select: none;
}

html, body {
  height: 100%;
  width: 100%;
}

:focus {
  animation: focus 0.5s linear 0s infinite alternate both;
  outline: 0.375em solid #FF0069;
}

[hidden] {
  display: none !important;
}

[role="button"],
[role="button"] *,
button,
button * {
  cursor: pointer;
}
[role="button"][aria-disabled="true"],
[role="button"][aria-disabled="true"] *,
button[disabled][aria-disabled="true"],
button[disabled][aria-disabled="true"] *,
[role="button"][disabled],
[role="button"][disabled] *,
button[disabled],
button[disabled] * {
  cursor: not-allowed;
}

@media (prefers-reduced-motion: reduce) {
  :focus {
    animation: none;
  }
}

/* Responsive fluid font sizing */
@media (max-width: 20rem) {
  body {
    font-size: 0.5rem;
  }
}

@media (min-width: 20rem) {
  body {
    font-size: calc(0.5rem + ((1vw - 0.4rem) * 1));
  }
}

@keyframes focus {
  0% {
    outline-width: 0.375rem;
  }
  100% {
    outline-width: 0.125rem;
  }
}
