* {
  scrollbar-color: #FFFFFF rgba(255, 255, 255, 0.25);
}
::-webkit-scrollbar {
  width: 1em;
}
::-webkit-scrollbar-thumb {
  background-color: #FFFFFF;
}
::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.25);
}
