.c-status {
  align-items: center;
  display: flex;
  justify-content: space-between;
}
  .c-status--credits::after,
  .c-status--inventory::after {
    content: ']' / '';
  }
  .c-status--credits::before,
  .c-status--inventory::before {
    content: '[' / '';
  }
